<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../quizStylesheet.css">
    <link rel="stylesheet" href="../UserLevels.css">
    <title>Edit Users & Quiz</title>
</head>
<div id="top-section">
        <button type="button" id="edit-back-button">Back</button>
</div>
<div id="edit-container">

        <div id="delete-Forms">   
            <form class="delete-form" id="deleteForm">
                <h1 id="deletePlayerHeader">Delete Player</h1>
                    <input type="email" placeholder="Email" id="deletePlayer">
                    <button id="deletePlayerBtn" type="button">Delete Player</button>
            </form>
    


            <form class="delete-form-two" id="deleteFormTwo">
                <H1 id="deleteQuizHeader">Delete Quiz</H1>
                    <input type="email" placeholder="Quiz" id="deleteQuiz">
                    <button onclick="deleteQuiz()">Delete Quiz</button>
            </form>
        </div>

        <div id="add-Forms">

                <H1 id="addPlayerHeader">Add Player</H1>
                <table id="addPlayerTable">
                    <tr>
                        <td>
                            <input type="text" id="add-player-form-name" placeholder="Name">
                        </td>
                    </tr>
                <br>
                    <tr>
                        <td>
                            <input type="email" id="add-player-form-email" placeholder="Email" required>
                        </td>
                    </tr>
                <br>
                    <tr>
                        <td>
                            <input type="password" id="add-player-form-password" placeholder="Password" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="number" id="add-player-ageOfPlayer" placeholder="age"required>
                        </td>
                    </tr>
                            
                </table>
                <button onclick="progressToQuizPage();" type="button" id="addPlayerButton">Add Player</button>

                <form class="addQuiz" id="addQuiz">
                    <H1 id="addQuizHeader">Add Quiz</H1>
                    <input type="email" placeholder="Quiz" id="addQuizInput">
                    <button onclick="deleteQuiz()">Delete Quiz</button>
                </form>
        </div>        
           
</div>

     
        




    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="../pouchdb-7.2.1.min.js"></script>
    <script>
        const db2 = new PouchDB('quiz_Database');
        const db = new PouchDB('quizAdmin_Database');
    </script>
    <script src="../edit.js"></script>
</body>
</html>