<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizMaster.com</title>
</head>
<body>
    <h1 id="main-title">Welcome to Quiz Master</h1>

<div id="container">
<section class="mainSection">

    <section class="childSection">

    
    <form class="sign-up-form" id="signUpForm">
        <h1 id="signuptitle">Please sign up here</h1>
        <table>
            <tr>
                <td>
                    <input type="text" id="form-name" placeholder="Name">
                </td>
            </tr>
        <br>
            <tr>
                <td>
                    <input type="email" id="form-email" placeholder="Email" required>
                </td>
            </tr>
        <br>
            <tr>
                <td>
                    <input type="password" id="form-password" placeholder="Password" required>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="number" id="ageOfPlayer" placeholder="age"required>
                </td>
            </tr>
        </table>
            <Button onclick="progressToQuizPage();" type="button" class="button" id="signupsubmit" name="SIGN UP"> SIGN UP</Button> <br>
            <button type="button" class="button" id="UserLevelButton">USER LEVELS INFORMATION</button>
    </form>

</section>

<section class="childSection2">
    <form class="sign-up-form">
        <h1 id="signuptitle">LOG IN</h1>
        <table>
            <tr>
                <td>
                    <input type="email" id="form-email" placeholder="Email">
                </td>
            </tr>
        <br>
        <tr>
            <td>
                <input type="password" id="form-password" placeholder="Password" required>
            </td>
        </tr>
        <br>
        </table>
            <button onclick="logInToQuiz()" type="button" class="button" id="logInButton">LOG IN</button>
    </form>
</section>
</section>        
        
</div>   
    

    <link rel="stylesheet" href="../quizStylesheet.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="../pouchdb-7.2.1.min.js"></script>
    <script src="../quiz.js"></script>
    
</body>
</html>